<header class="header">
  <nav class="header_nav-list">
    <a
      class="header_link"
      routerLinkActive="header_link--active"
      [routerLink]="['users']"
      [queryParams]="{gender: 'male'}"
    >Male</a>
    <a
      class="header_link"
      routerLinkActive="header_link--active"
      [routerLink]="['users']"
      [queryParams]="{gender: 'female'}"
    >Female</a>
    <a
      class="header_link"
      routerLinkActive="header_link--active"
      [routerLink]="['users']"
      [queryParams]="{gender: 'all'}"
    >All</a>
  </nav>
</header>
