.header {
  width: 50vw;
  padding: 8px 0;

  &_nav-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }

  &_link {
    width: 90%;
    padding: 14px 0;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    color: black;

    &--active {
      background-color: #0C42FA !important;
      color: white;
      border-radius: 8px;
    }

    &:hover {
      background-color: #ebf0ff;
      border-radius: 8px;
      transition: 0.1s ease-in;
    }

  }

}



