<div class="content">
  <app-users-male
    *ngIf="currentQuery === 'male'"
    [maleData]="responseData.male"
    (openModal)="showDetailedData($event)"
  ></app-users-male>
  <app-users-female
    *ngIf="currentQuery === 'female'"
    [femaleData]="responseData.female"
    (openModal)="showDetailedData($event)"
  ></app-users-female>
  <div class="content_both-genders" *ngIf="currentQuery === 'all'">
    <app-users-male
      [maleData]="responseData.male"
      (openModal)="showDetailedData($event)"
    ></app-users-male>
    <app-users-female
      [femaleData]="responseData.female"
      (openModal)="showDetailedData($event)"
    ></app-users-female>
  </div>
</div>

<!--------------Modal window-------------->
<ng-container *ngIf="display$ | async as display">
  <section
    class="modal"
    [class.open]="display === 'open'"
    (click)="close()">
    <div
      class="modal_body"
      (click)="$event.stopPropagation()"
    >
      <div class="modal_header">
        <span>
          {{modalInfo.name}}, {{modalInfo.gender}}
        </span>
        <button
          class="modal_close"
          type="button"
          (click)="close()"
        >Close
        </button>
      </div>
      <div class="modal_content">
          <p>Register date: {{modalInfo.registered | date}}</p>
          <p>Location: {{modalInfo.location}}</p>
          <p>E-mail: {{modalInfo.email}}</p>
          <p>Phone: {{modalInfo.phone}}</p>
      </div>
    </div>
  </section>
</ng-container>
