.content {
  display: flex;
  justify-content: center;

  &_both-genders {
    display: flex;
    justify-content: center;
  }

}

.modal {
  visibility: hidden;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.open {
    visibility: inherit;
  }

  &_body {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    padding: 20px;

    height: auto;
    width: 370px;

    background: white;

    border: 1px solid gainsboro;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
  }

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
  }

  &_content {

  }

  &_close {
    padding: 8px 16px;
    background-color: #0C42FA;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
}
