
<div class="male-user">
  <div class="male-user_card" *ngFor="let item of maleData">
    <img class="male-user_userpic" src="{{item.picture.thumbnail}}" alt="">
    <span class="male-user_name">{{item.name.first}} {{item.name.last}}</span>
    <button class="male-user_btn-about" (click)="onBtnClick(item)">About</button>
  </div>
</div>

