.male-user {
  width: 370px;

  &_card {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }

  &_userpic {
    width: auto;
    border-radius: 25px;
  }

  &_name {
    width: 60%;
    font-size: 16px;
    margin: 0 8px;
  }

  &_btn-about {
    padding: 8px 16px;
    background-color: #0C42FA;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

}
