<div class="female-user">
  <div class="female-user_card" *ngFor="let item of femaleData">
    <img class="female-user_userpic" src="{{item.picture.thumbnail}}" alt="">
    <span class="female-user_name">{{item.name.first}} {{item.name.last}}</span>
    <button class="female-user_btn-about" (click)="onBtnClick(item)">About</button>
  </div>
</div>
